/* geral */

html {
	font-family: 'Open sans', 'sans-serif';
	color: #373A3C;
}

a {
	transition: .5s;
}

/* sidebar */

#sidebar {
	position: fixed;
	height: 100%;
	width: 300px;
	background-color: #a52a2a;
	padding-top: 40px;
}

#sidebar h1 {
	color: #FFF;
	font-size: 32px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 30px;
}

#sidebar a {
	color: #FFF;
	text-decoration: none;
	font-size: 16px;
}

#sidebar a:hover {
	color: #F4EF5E;
}

#sidebar li {
	padding: 20px;
}

.sidebar-container {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
}

.logo-charcutaria {
	width: 80px;
	height: 80px;
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	border: .5rem solid saddlebrown;
	border-radius: 40%;
}

/* conteudo */

.content {
	position: absolute;
	left: 300px;
	width: calc(100% - 300px);
}

.content h1, .content h2 {
	color: #006599;
	margin-bottom: 30px;
}

.content h1 {
	font-size: 48px;
}

.content h2 {
	font-size: 35px;
}

section {
	padding-left: 50px;
}

/* bem vindo */

#sessao-bemvindo {
	padding-left: 0;
}

.sessao-bemvindo-content {
	padding-left: 50px;
}

.sessao-bemvindo-content h3{
	text-align: center;
	font-size: 1rem;
	color: #a52a2a;
	text-transform: uppercase;
}
#sessao-bemvindo .banner {
	height: 500px;
	background-image: url("galeria1.jpg");
	background-position: center;
	background-size: cover;
}

#sessao-bemvindo h1 {
	margin-top: 70px;
}

#sessao-bemvindo::after, #sessao-sobre::after {
	content: "";
	display: block;
	clear: both;
	margin-bottom: 100px;
}

.sessao-minibanner {
	width: 300px;
	height: 400px;
	background-image: url("galeria2.jpg");
	background-position: center;
	background-size: cover;
	float: left;
}

.sessao-descricao {
	position: absolute;
	left: 370px;
	padding-right: 30px;
	margin-bottom: 5rem;
	row-gap: 3rem;
	text-align: justify;
	
}

.sessao-descricao p {
	line-height: 2;
	font-size: 16px;
	margin-bottom: 30px;
	margin-left: 25px;
	font-style: italic;
	
}

.sessao-bemvindo-btn, form input[type=submit] {
	background-color: #fa4460;
	color: #FFF;
	text-decoration: none;
	padding: 20px 40px;
	transition: .5s;
	display: block;
	width: 100px;
	text-align: center;
	border: none;
	cursor: pointer;
	margin-left: 25px;
}

.sessao-bemvindo-btn:hover, form input[type=submit]:hover {
	background-color: #a0522d;
}

/* sessao sobre */

#sessao-sobre .sessao-minibanner {
	float: right;
	margin-right: 50px;
	background-image: url("banner4.jpg");
}

#sessao-sobre .sessao-descricao {
	position: absolute;
	left: 20px;
	width: calc(100% - 400px);
	text-align: justify;
	font-style: italic;
}

/* galerias */

.banner-galeria {
	background-position: center;
	background-size: cover;
	display: inline-block;
	height: 200px;
}

#sessao-produtos1, #sessao-produtos2, #sessao-produtos3 {
	padding-right: 50px;
	margin-bottom: 50px;
	text-transform: uppercase;	
}

.produtos1-imgs {
	width: 18.7%;
	margin-left: .5%;
	margin-right: .5%;
	gap: 2px;
	border: .1rem solid hsl(16, 43%, 33%);
    border-radius: 1rem;}

#img1 {
	background-image: url("charcuterie-7308632_640\ \(1\).jpg");
	margin-left: 0;
}

#img2 {
	background-image: url("linguica1.jpg");
}

#img3 {
	background-image: url("linguica2.jpg");
}

#img4 {
	background-image: url("linguiça3.jpg");
}

#img5 {
	background-image: url("linguiça4.jpg");
	margin-right: 0;
}

.produtos2-imgs {
	width: 32.1%;
	margin-left: .5%;
	margin-right: .5%;
	border: .1rem solid hsl(16, 43%, 33%);
    border-radius: 1rem;}

#img6 {
	background-image: url("salame.jpg");
	margin-left: 0;
}

#img7 {
	background-image: url("salame2.jpg");
}

#img8 {
	background-image: url("Salame3.jpg");
}

.produtos3-imgs {
	width: 23.9%;
	margin-left: .5%;
	margin-right: .5%;
	border: .1rem solid hsl(16, 43%, 33%);
    border-radius: 1rem;
}

#img9 {
	background-image: url("Lombo-defumado.jpg");
	margin-left: 0;
}

#img10 {
	background-image: url("Panceta-defumada.jpg");
}

#img11 {
	background-image: url("Pastrami.jpg");
}

#img12 {
	background-image: url("Presuntocrudo-img3.jpg");
	margin-right: 0;
}

/* contato */

#form-contato {
	width: 500px;}
	
#form-contato input[type=text], #form-contato input[type=email], #form-contato textarea {
	display: block;
	border: .3rem solid hsl(225, 73%, 57%);
    border-radius: 1rem;
	padding: 10px;
	margin-bottom: 20px;
	width: 100%;
	font-size: 16px;
	font-family: 'Open sans', sans-serif;
}

#form-contato input[type=text]:focus, #form-contato input[type=email]:focus, #form-contato textarea:focus {
	border-color: hsl(200, 100%, 5%);
	border: 1rem solid hsl(200, 100%, 5%);
	
}

#form-contato textarea {
	height: 150px;
}

#form-contato ::placeholder {
	color:hsl(240, 64%, 27%);
	font-style: italic;
	
}

#form-contato input[type=submit] {
	margin-left: 0;
	font-size: 16px;
	width: 180px;
}

/* footer */

footer {
	height: 100px;
	padding-top: 150px;
	color: #006599;
}

footer p {
	text-align: center;
	font-weight: bold;
}
